USE [master]
GO
/****** Object:  Database [Sistema_Universitario_2]    Script Date: 07/06/2023 20:54:36 ******/
CREATE DATABASE [Sistema_Universitario_2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sistema_Universitario_2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Sistema_Universitario_2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sistema_Universitario_2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Sistema_Universitario_2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sistema_Universitario_2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sistema_Universitario_2]
GO
/****** Object:  User [sa2]    Script Date: 07/06/2023 20:54:36 ******/
CREATE USER [sa2] FOR LOGIN [sa2] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [sa2]
GO
ALTER ROLE [db_datareader] ADD MEMBER [sa2]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [sa2]
GO
/****** Object:  Table [dbo].[ALUNO]    Script Date: 07/06/2023 20:54:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALUNO](
	[RA_ALUNO] [char](13) NOT NULL,
	[NOME_ALUNO] [varchar](70) NOT NULL,
	[CPF_ALUNO] [char](14) NOT NULL,
	[DATA_NASCIMENTO] [date] NULL,
	[RG_ALUNO] [char](12) NOT NULL,
	[ENDERECO_ALUNO] [varchar](70) NOT NULL,
	[NUMERO_CASA_ALUNO] [varchar](7) NOT NULL,
	[BAIRRO_ALUNO] [varchar](30) NOT NULL,
	[CEP_ALUNO] [char](9) NOT NULL,
	[CIDADE_ALUNO] [varchar](70) NOT NULL,
	[UF] [char](2) NOT NULL,
	[Telefone] [char](15) NULL,
	[EMAIL] [varchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[RA_ALUNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CURRICULO]    Script Date: 07/06/2023 20:54:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURRICULO](
	[COD_CURRICULO] [int] NOT NULL,
	[COD_DISCIPLINA] [int] NOT NULL,
	[COD_CURSO] [int] NOT NULL,
	[SEMESTRE_GRADE] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_CURRICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CURSO]    Script Date: 07/06/2023 20:54:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURSO](
	[COD_CURSO] [int] NOT NULL,
	[COD_COORDENADOR] [char](5) NOT NULL,
	[NOME_CURSO] [varchar](25) NOT NULL,
	[DURACAO] [char](2) NOT NULL,
	[DESCRICAO] [varchar](75) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_CURSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISCIPLINA]    Script Date: 07/06/2023 20:54:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISCIPLINA](
	[COD_DISCIPLINA] [int] NOT NULL,
	[NOME_DISCIPLINA] [char](75) NOT NULL,
	[QTD_DIAS] [char](3) NOT NULL,
	[CARGA_HORARIA] [char](3) NOT NULL,
	[DESCRICAO] [varchar](75) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_DISCIPLINA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORICO]    Script Date: 07/06/2023 20:54:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORICO](
	[COD_HISTORICO] [int] NOT NULL,
	[RA_ALUNO] [char](13) NOT NULL,
	[COD_TURMA] [int] NOT NULL,
	[CONCEITO] [char](2) NULL,
	[MEDIA] [decimal](3, 1) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_HISTORICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[COD_TURMA] ASC,
	[RA_ALUNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTAS]    Script Date: 07/06/2023 20:54:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTAS](
	[SIGLA_NOTA] [char](2) NOT NULL,
	[COD_TURMA] [int] NULL,
	[DESCRICAO] [varchar](20) NOT NULL,
	[PESO] [decimal](3, 1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SIGLA_NOTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTAS_ALUNOS]    Script Date: 07/06/2023 20:54:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTAS_ALUNOS](
	[SIGLA_NOTA] [char](2) NOT NULL,
	[RA_ALUNO] [char](13) NOT NULL,
	[VALOR] [decimal](3, 1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SIGLA_NOTA] ASC,
	[RA_ALUNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFESSOR]    Script Date: 07/06/2023 20:54:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESSOR](
	[MATRICULA_PROFESSOR] [char](5) NOT NULL,
	[COD_COORDENADOR] [char](5) NOT NULL,
	[NOME_PROFESSOR] [varchar](70) NOT NULL,
	[CATEGORIA] [char](2) NOT NULL,
	[CPF_PROFESSOR] [char](14) NOT NULL,
	[DATA_NASCIMENTO] [date] NULL,
	[RG_PROF] [char](12) NOT NULL,
	[ENDERECO_PROFESSOR] [varchar](70) NOT NULL,
	[NUMERO_CASA_PROFESSOR] [varchar](7) NOT NULL,
	[BAIRRO_PROFESSOR] [varchar](30) NOT NULL,
	[CEP_PROFESSOR] [char](9) NOT NULL,
	[CIDADE_PROFESSOR] [varchar](70) NOT NULL,
	[UF] [char](2) NOT NULL,
	[Telefone] [char](15) NULL,
	[EMAIL] [char](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATRICULA_PROFESSOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TURMA]    Script Date: 07/06/2023 20:54:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TURMA](
	[COD_TURMA] [int] NOT NULL,
	[MATRICULA_PROFESSOR] [char](5) NULL,
	[COD_CURRICULO] [int] NULL,
	[SEMESTRE_ANO] [char](3) NOT NULL,
	[DIA_SEMANA] [varchar](20) NOT NULL,
	[HORARIO_INICIO] [time](7) NOT NULL,
	[HORARIO_FIM] [time](7) NOT NULL,
	[ANO] [char](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_TURMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 07/06/2023 20:54:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[NUM_USUARIO] [varchar](13) NOT NULL,
	[SENHA] [varchar](15) NOT NULL,
	[TIPO_USU] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NUM_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CURRICULO]  WITH CHECK ADD FOREIGN KEY([COD_CURSO])
REFERENCES [dbo].[CURSO] ([COD_CURSO])
GO
ALTER TABLE [dbo].[CURRICULO]  WITH CHECK ADD FOREIGN KEY([COD_DISCIPLINA])
REFERENCES [dbo].[DISCIPLINA] ([COD_DISCIPLINA])
GO
ALTER TABLE [dbo].[CURSO]  WITH CHECK ADD FOREIGN KEY([COD_COORDENADOR])
REFERENCES [dbo].[PROFESSOR] ([MATRICULA_PROFESSOR])
GO
ALTER TABLE [dbo].[HISTORICO]  WITH CHECK ADD FOREIGN KEY([COD_TURMA])
REFERENCES [dbo].[TURMA] ([COD_TURMA])
GO
ALTER TABLE [dbo].[HISTORICO]  WITH CHECK ADD FOREIGN KEY([RA_ALUNO])
REFERENCES [dbo].[ALUNO] ([RA_ALUNO])
GO
ALTER TABLE [dbo].[NOTAS]  WITH CHECK ADD FOREIGN KEY([COD_TURMA])
REFERENCES [dbo].[TURMA] ([COD_TURMA])
GO
ALTER TABLE [dbo].[NOTAS_ALUNOS]  WITH CHECK ADD FOREIGN KEY([RA_ALUNO])
REFERENCES [dbo].[ALUNO] ([RA_ALUNO])
GO
ALTER TABLE [dbo].[NOTAS_ALUNOS]  WITH CHECK ADD FOREIGN KEY([SIGLA_NOTA])
REFERENCES [dbo].[NOTAS] ([SIGLA_NOTA])
GO
ALTER TABLE [dbo].[PROFESSOR]  WITH CHECK ADD FOREIGN KEY([COD_COORDENADOR])
REFERENCES [dbo].[PROFESSOR] ([MATRICULA_PROFESSOR])
GO
ALTER TABLE [dbo].[TURMA]  WITH CHECK ADD FOREIGN KEY([COD_CURRICULO])
REFERENCES [dbo].[CURRICULO] ([COD_CURRICULO])
GO
ALTER TABLE [dbo].[TURMA]  WITH CHECK ADD FOREIGN KEY([MATRICULA_PROFESSOR])
REFERENCES [dbo].[PROFESSOR] ([MATRICULA_PROFESSOR])
GO
ALTER TABLE [dbo].[HISTORICO]  WITH CHECK ADD CHECK  (([CONCEITO]='RF' OR [CONCEITO]='R' OR [CONCEITO]='A'))
GO
USE [master]
GO
